.class{
  width: 98%;
  padding: 10px 0px 10px 40px;
  font-size: 16px;
  margin-bottom: 10px;
}
ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
ul li a{
  text-decoration: none;
  color: black;
  background-color: #f6f6f6;
  display: block;
  border: 1px solid #ddd;
  margin-top: -1px;
  padding: 12px;
}

ul li a:hover{
  background-color: #eee;
}
.comm{
  margin-bottom: 100px;
}